.Available {
  padding: 40px 0;
  .available {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-family: "Rubik", sans-serif;
      font-weight: 700;
      font-size: clamp(1.563rem, 0.994rem + 2.84vw, 3.125rem);
      line-height: 70px;
      color: #0b132a;
    }
    p {
      margin-bottom: 40px;
      color: #4f5665;
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      font-size: clamp(0.625rem, 0.489rem + 0.68vw, 1rem);
      line-height: 30px;
      text-align: center;
    }
    .box {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;

    }
  }
}
